{% extends "layout.html" %}

{% block body %}
  <p>
    Hello world!
  </p>
  <hr>
  {% if has_no_recipes is defined %}
  <p>
    We encourage you to make recipes:
  </p>

  <ul>
    {% for user in has_no_recipes %}
    <li>
      {{user.id}} {{user.name}}
    </li>
    {% endfor %}
  </ul>

  {% endif %}
  <hr>
  
  {% if is_great is defined %}
  <p>
    Thank you for your work:
  </p>

  <ul>
    {% for user in is_great %}
    <li>
      {{user.id}} {{user.name}}
    </li>
    {% endfor %}
  </ul>

  {% endif %}
  <hr>

  {% if is_famous is defined %}
  <p>
    Wall of fame:
  </p>

  <ul>
    {% for user in is_famous %}
    <li>
      {{user.name}} has made {{user.amount}} recipe(s)
    </li>
    {% endfor %}
  </ul>

  {% endif %}
{% endblock %}
