{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action=''>
  <table>
      <tr>
	<td>
	  <p><h4>{{ form.name.label }}</h4></p>
	</td>
	<td>
	  <h4>{{ form.name }}</h4>
	</td>
  <td>

    <ul>
      {% for error in form.name.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
      </tr>
      <tr>
	<td colspan="2">
	  <input class="btn btn-success" type="submit" value="Save"/>
    <a class="btn btn-danger" href='/recipes/edit/{{ recipe.id }}/delete'>Delete</a>
	</td>
      </tr>
</form>
<hr>
<table>
  {% for ingredient in ingredients %}
  <tr>
    <th><h4>{{ ingredient.name }}</h4></th>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    <th><h4>{{ ingredient.amount }}</h4></th>
  </tr>
  <tr>
    <th>
      <a class="btn btn-primary" href='/recipes/edit/{{ recipe.id }}/{{ ingredient.id }}/'>Edit</a>
      <a class="btn btn-danger" href='/recipes/edit/{{ recipe.id }}/{{ ingredient.id }}/delete/'>Delete</a>
    </th>
  </tr>
  <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
  {% endfor %}
  <hr>
</table>
{% endblock %}